*.jl.cov
*.jl.*.cov
*.jl.mem
deps/src/CMakeCache.txt
deps/src/CMakeFiles/*
deps/src/Makefile
deps/src/cmake_install.cmake
deps/src/libpolymake.*
deps/src/generated/*
deps/xcodetypeinfo/*
!deps/xcodetypeinfo/hello.cpp
!deps/xcodetypeinfo/CMakeLists.txt
deps/build.log
deps/deps.jl
deps/jlcxx_version.jl
deps/usr
deps/json
local
Manifest.toml
src/generated/*.jl
.vscode
docs/build/*
