*.jl.cov
*.jl.*.cov
*.jl.mem
deps/src/CMakeCache.txt
deps/src/CMakeFiles/*
deps/src/Makefile
deps/src/cmake_install.cmake
deps/src/libpolymake.*
deps/src/generated/*
deps/build.log
deps/build_*.jl
deps/deps.jl
deps/usr
deps/json
local
Manifest.toml
src/generated/*.jl
.vscode
