name: Run tests

on:
   push:
     branches:
       - master
       - testing/**
   pull_request:
     branches:
       - master

concurrency:
  # group by workflow and ref; the last slightly strange component ensures that for pull
  # requests, we limit to 1 concurrent job, but for the master branch we don't
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/master' || github.run_number }}
  # Cancel intermediate builds, but only if it is a pull request build.
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  # github services (for mongodb service) only works on linux
  test-with-mongodb:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.julia-version == 'nightly' }}
    strategy:
      matrix:
        julia-version:
          - '~1.6.0-0'
          - '~1.7.0-0'
          - '~1.8.0-0'
          - 'nightly'
        os: ['ubuntu-latest']
      fail-fast: false
    # Service containers to run
    services:
      # Label used to access the service container
      mongodb:
        # Docker Hub image
        image: mongo:4.2
        # Provide the login data
        env:
          MONGO_INITDB_ROOT_USERNAME: admin
          MONGO_INITDB_ROOT_PASSWORD: admin
        ports:
          # Maps tcp port 27017 on service container to the host
          - 27017:27017
    env:
      JULIA_PKG_SERVER: ""
      POLYDB_TEST_URI: "mongodb://admin:admin@localhost:27017/?authSource=admin"
    steps:
      - uses: actions/checkout@v3
      - name: "Set up Julia"
        uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
      - name: "Fill polyDB container"
        run: mongorestore --host localhost -u admin -p admin --port 27017 .github/polydb_dump
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v2
        with:
          file: ./lcov.info
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false

  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.julia-version == 'nightly' }}
    env:
      JULIA_PKG_SERVER: ""
    strategy:
      matrix:
        julia-version:
          - '~1.6.0-0'
          - '~1.7.0-0'
          - '~1.8.0-0'
          - 'nightly'
        os: ['ubuntu-latest', 'macOS-latest']
        # empty entry for defaults
        xcode: [ '' ]
        cxxwrap: [ '' ]
        # add a few extra tests: ubuntu lts versions
        include:
          - os: ubuntu-18.04
            julia-version: '~1.7.0-0'

      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - name: "Set up Julia"
        uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
      - name: "pin CxxWrap"
        if: matrix.cxxwrap != ''
        run: julia --project -e 'using Pkg; pkg"add CxxWrap@${{ matrix.cxxwrap }}"; pkg"pin CxxWrap";'
      - name: "set xcode"
        if: matrix.xcode != ''
        run: echo "DEVELOPER_DIR=/Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer" >> $GITHUB_ENV
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v2
        with:
          file: ./lcov.info
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: false
